# **QUESTION 1**

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

Define H0,H1                                               
H0: μ1 = μ2 : There is no difference in diameters of cutlets between two units.

Ha: μ1 ≠ μ2 :There is significant difference in diameters of cutlets between 
two units

As we observed there are two mean values and '=' sign in H0, **perform 2 Sample 2 Tail test**

In [4]:
# Load the dataset
data=pd.read_csv('Cutlets.csv')
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

Perform 2 sample 2 tail t test using
*stats.ttest_ind(unitA,unitB)*
before that create array for unitA,unitB using *pd.series*

In [5]:
unitA=pd.Series(data.iloc[:,0])

In [6]:
unitB=pd.Series(data.iloc[:,1])

In [17]:
P_value=stats.ttest_ind(unitA,unitB)
P=P_value.pvalue
P

0.4722394724599501

Now draw the inferences at significant level 5%, means α = 0.05 , compare with Pvalue

If pvalue < α  Reject H0

If pvalue > α  Failed to reject H0

In [19]:
alpha = 0.05
if P <= alpha:
    print('Reject H0: there is a significance difference between TAT of reports of the laboratories')
else:
    print('fail to reject H0')

fail to reject H0

# **QUESTION 2**

In [24]:
# load the dataset
data2=pd.read_csv('LabTAT.csv')
data2.head()
#data.info()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

Define H0,H1
H0: μ1 = μ2 = μ3 = μ4 : There is no difference in TAT between lab reports.

Ha: μ1 ≠ μ2 ≠ μ3 ≠ μ4 :There is significant difference  in any two of TAT between lab reports.

As we observed there are more than 2 groups  perform ANOVA test

In [30]:
#Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)
p_value2=stats.f_oneway(data2.iloc[:,0],data2.iloc[:,1],data2.iloc[:,2],data2.iloc[:,3])
P2=p_value2.pvalue
P2

2.1156708949992414e-57

In [31]:
alpha = 0.05
if P2 <= alpha:
    print('Reject H0: there is a significance difference between TAT of reports of the laboratories')
else:
    print('fail to reject H0')

Reject H0: there is a significance difference between TAT of reports of the laboratories

# **QUESTION 3**

In [35]:
# load the dataset
data3=pd.read_csv('BuyerRatio.csv')
data3

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [34]:
df_table=data3.iloc[:,1:6]
df_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [39]:
val=stats.chi2_contingency(df_table)
val

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [41]:
P3=val.pvalue
P3

0.6603094907091882

In [42]:
alpha = 0.05
if P3 <= alpha:
    print('Reject H0: male-female ratios are not similar')
else:
    print('fail to reject H0')

fail to reject H0

# **QUESTION 4**

In [43]:
data4=pd.read_csv('Costomer+OrderForm.csv')
data4

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [44]:
data4.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [45]:
data4.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [46]:
data4.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [47]:
data4.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [50]:
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [56]:
# Chi2 contengency independence test
from scipy.stats import chi2_contingency
val=chi2_contingency(obs) # o/p is (Chi2 stats value, p_value, df, expected obsvations)
P4=val.pvalue
P4

0.2771020991233135

In [57]:
alpha = 0.05
if P4 <= alpha:
    print('Reject H0')
else:
    print('fail to reject H0')

fail to reject H0